body {
	background-color:#dd5932;
}
h1 {
	text-align: center;
	font-family: arial;
	color:blue;
}
ul {
	text-align: center;
	display: inline;
	margin-left:2em;
	padding-left:0.9em;
}
li {
	text-align: center;
	display:inline;
	margin-right: 10px;
	margin-left: 15px;
}

/* En-tête*/

header {
	background-color:#a0ac40;
	  top: 0px;
    position: fixed;
    width: 100%;
    z-index: 1;
    display: block;
}
header h1{
	text-align: center;
	color: #ffffff
}

/* Menu */
.menu{
 background: #a12815;
 padding: 10px;
 width: 100%;
}
#nav {
	padding: 0;
	margin: 0;
	text-align: center;
	margin-top: 50px;
}
#nav li {
	display: inline;
	list-style: none;
}
#nav a {
	display:inline-block;
	margin: 0px;
	color:white;
	text-decoration: none;
	font-family: arial;
	background-color: #A12815;
	padding: 9px;
}
#nav a:hover {
	background: #a0ac40 ;
 	padding: 15px;
}
}
}
img {
	width:400px;
	height:300px;
	max-width: 100%;
}
section#joueurs {
	color:white;
	font-family:Verdana,italic;
}
/* Joueurs */

.listejoueurs {
    padding: 5%;
}

.listejoueurs p {
	color:white;
	text-align: center;
	max-width: 100%;
	font-size: 12px;
	font-family: arial;
}

.lucas {
    padding: 2	%;
}

.lucas h3 {
	color:white;
	text-align: center;
	max-width: 100%;
	padding-top: 45%;
	font-family: arial;
}

.lucas img{
	width: 400px;
	height: 300px;
	max-width: 100%;
	border: 3px solid #FFF;
}

.lucas p {
	color:white;
	text-align: center;
	max-width: 100%;
	font-size: 12px;
	font-family: arial;
}

.listejoueurs h3 {
	color:white;
	text-align: center;
	max-width: 100%;
	padding-top: 15px;
	font-family: arial;
}

.listejoueurs img{
	width: 400px;
	height: 300px;
	max-width: 100%;
	border: 3px solid #FFF;
}	

section#gen img {
	text-align: left;
	max-width: 100%;
	margin-top: 0%;
}
section#gen h1 {
	color:white;
	text-align: left;
	max-width: 100%;
	padding-top: 45%;
	color: #fff;
	width: 100%;
}
section#gen p {
	color:#ffffff;
	font-family: arial,serif;
}
section#presentation img {
	max-width: 100%;
}
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


@media screen and (min-width: 767px){
}
@media screen and (min-width: 768px), (max-width: 992px){

}
@media screen and (min-width: 992px), (max-width: 1189px){

}
@media screen and (min-width: 1200px) {
	 .menu li{
    	margin:330px;
    	padding:0px;
    }
    .lucas img {
		margin:30px;
    }
}
.bienvenu {
	color:#2b8fcb;
	text-decoration: none;
	text-align: center;
	font-family: arial;
	font-size: 40px;
}
section#idee h2 {
	padding: 210px;
	font-family: arial;
	font-size: 40px;
	color:white;
}
section#idee p {
	margin-top: -210px;
	color:white;
	font-family: arial;
}
/* Animation P */
section#idee p {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
* {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}